<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotelms.dao.CommodityMapper">
    <insert id="addCommodity" parameterType="commodity">
        INSERT INTO commodity(commodityName,commodityTypeID,uOMID,salePrice) VALUES (#{commodityName},#{commodityTypeID},#{uOMID},#{salePrice})
    </insert>

    <select id="findCommodity" resultType="commodity">
        SELECT * FROM commodity
    </select>

    <select id="findCommodityTypeNum" parameterType="int" resultType="int">
        SELECT count(*) FROM commodity WHERE commodityTypeID=#{commodityTypeID}
    </select>

    <select id="findLimitCommodityType" parameterType="hashmap" resultType="commodity">
        SELECT * FROM commodity WHERE commodityTypeID=#{commodityTypeID} limit #{limit} offset #{offset}
    </select>

    <delete id="removeCommodityByID" parameterType="int">
        DELETE FROM commodity WHERE commodityID=#{commodityID}
    </delete>

    <update id="updateCommodity" parameterType="commodity">
        UPDATE commodity SET commodityName=#{commodityName},commodityTypeID=#{commodityTypeID},uOMID=#{uOMID},salePrice=#{salePrice} WHERE commodityID=#{commodityID}
    </update>

    <select id="findCommodityByID" parameterType="int" resultType="commodity">
        SELECT * FROM commodity WHERE commodityID=#{commodityID}
    </select>

    <select id="findCommodityByLikeTypeNum" parameterType="hashmap" resultType="int">
      SELECT count(*) FROM commodity WHERE commodityTypeID=#{arg0} AND commodityName LIKE #{arg1}
    </select>

    <select id="findLimitCommodityLike" parameterType="hashmap" resultType="commodity">
        SELECT * FROM commodity WHERE commodityName LIKE #{commodityName} AND commodityTypeID=#{commodityTypeID} limit #{limit} offset #{offset}
    </select>

    <select id="findCommodityByType" parameterType="int" resultType="commodity">
        SELECT * FROM commodity WHERE commodityTypeID=#{commodityTypeID}
    </select>

    <insert id="addcommodityType" parameterType="int">
        INSERT INTO itemdetails(itemID,category) VALUES (#{itemID},#{category})
    </insert>

    <select id="checkName" parameterType="string" resultType="commodity">
      SELECT * FROM commodity WHERE commodityName=#{commodityName}
    </select>

    <select id="getsalePrice" parameterType="string" resultType="int">
        select saleprice from commodity WHERE commodityName=#{commodityName};
    </select>

    <select id="findCommodityTypeName" parameterType="integer" resultType="commodityvo">
        SELECT category FROM itemdetails WHERE itemdetailsID=#{itemdetailsID}
    </select>


    <select id="findLimitCommoditysByType" resultType="commodity" parameterType="hashmap">
       SELECT * FROM commodity WHERE commodityTypeID=#{typeID} limit #{limit} offset #{offset}
    </select>

    <select id="selectCommodityTotalNumberByType" parameterType="string" resultType="int">
        SELECT count(*) FROM commodity WHERE commodityTypeID=#{commodityTypeID}
    </select>

    <select id="findLimitCommoditysByLikeType" parameterType="hashmap" resultType="commodity">
        SELECT * FROM commodity WHERE commodityTypeID=#{typeID} AND commodityName LIKE #{name} limit #{limit} offset #{offset}
    </select>

    <resultMap id="baseMap" type="com.hotelms.bean.CommodityVO">
        <id column="commodityID" jdbcType="INTEGER" property="commodityID" />
        <result column="commodityName" jdbcType="VARCHAR" property="commodityName" />
        <result column="commodityTypeID" jdbcType="INTEGER" property="commodityTypeID" />
        <association property="commodityType" javaType="string"
                     select="com.hotelms.dao.ItemMapper.getOneNameOfItem"
                     column="commodityTypeID">
            <result column="category" property="commodityType"/>
        </association>
        <association property="uOM" javaType="string"
                     select="com.hotelms.dao.ItemMapper.getOneNameOfItem"
                     column="uOMID">
            <result column="category" property="uOM"/>
        </association>
    </resultMap>
   <!--from 陈志雄-->
    <select id="findCommoditysByLikeType" parameterType="hashmap" resultMap="baseMap">
        SELECT * FROM commodity WHERE commodityTypeID=#{typeID} AND commodityName LIKE #{name} ;
    </select>

    <!--from 陈志雄-->
    <select id="findCommoditysByType" resultMap="baseMap" parameterType="string">
        SELECT * FROM commodity WHERE commodityTypeID=#{typeID};
    </select>

</mapper>