<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotelms.dao.SatyregisterMapper">

    <resultMap id="allTeamObject" type="teamStayRegisterVO">
        <id column="tuanduiID" property="tuanduiID"/>
        <result property="principal" column="principal"/>
        <result property="teamName" column="teamName"/>
        <result property="teamCode" column="teamCode"/>
        <result property="registerTime" column="registerTime"/>
        <result property="contactPhoneNUmber" column="contactPhoneNUmber"/>
        <association property="targetType"
                     javaType="ItemBean"
                     select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                     column="targetTypeID">
            <id column="itemDetailsID" property="itemDetailsID"/>
            <result property="itemID" column="itemID"/>
            <result property="category" column="category"/>
        </association>
    </resultMap>


    <select id="getAllTeamObject" parameterType="hashmap" resultMap="allTeamObject">
        select * from team
        <where>
            <if test="txtname != null and txtname != ''">
                teamName LIKE '%${txtname}%'
            </if>
        </where>
    </select>

    <select id="queryitemBeanByTargetTypeID" parameterType="int" resultType="ItemBean">
        select * from itemdetails WHERE itemDetailsID=#{itemDetailsID}
    </select>


    <resultMap id="allRoomObject" type="roomStayRegisterVO">
        <id column="roomID" property="roomID"/>
        <result property="roomNumber" column="roomNumber"/>
        <result property="roomAmount" column="roomAmount"/>
        <result property="standarPriceDay" column="standarPriceDay"/>
        <result property="standarPrice" column="standarPrice"/>
        <result property="maxDuration" column="maxDuration"/>
        <result property="firstPrice" column="firstPrice"/>
        <result property="firstDuration" column="firstDuration"/>
        <association property="roomState"
                     javaType="ItemBean"
                     select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                     column="roomStateID">
            <id column="itemDetailsID" property="itemDetailsID"/>
            <result property="itemID" column="itemID"/>
            <result property="category" column="category"/>
        </association>
        <association property="guestRoomLevel"
                     javaType="ItemBean"
                     select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                     column="guestRoomLevelID">
            <id column="itemDetailsID" property="itemDetailsID"/>
            <result property="itemID" column="itemID"/>
            <result property="category" column="category"/>
        </association>
    </resultMap>


    <select id="getAllRoomObject" parameterType="hashmap" resultMap="allRoomObject">
        select * from roomset
        <where>
            <if test="guestRoomLevelID != 0">
                guestRoomLevelID=#{guestRoomLevelID}
            </if>
        </where>
    </select>

    <select id="getRoomByRoomId" parameterType="int" resultMap="allRoomObject">
         select * from roomset WHERE roomID=#{roomID}
    </select>

    <insert id="saveStayRegister" parameterType="stayRegisterBean">
        INSERT INTO stayregister VALUES (NULL ,#{room.roomID},NULL ,
        <choose>
            <when test="team != null">
                #{team.tuanduiID},
            </when>
            <otherwise>
                NULL ,
            </otherwise>
        </choose>
        #{passengerType.itemDetailsID},#{rentOutType.itemDetailsID},#{stayNumber},#{deposit},#{billUnit.itemDetailsID},
        #{depositPayWay.itemDetailsID},0,0,NULL,#{stayRegisterTime},0,#{sumConst},NULL)
    </insert>

    <update id="updateRoomState" parameterType="hashmap">
        UPDATE roomset set roomStateID=#{roomStateID} WHERE roomID=#{roomID}
    </update>

    <select id="getAllStayRegisyerObject" parameterType="hashmap" resultMap="allStayRegisyerObject">
        SELECT * FROM stayregister LEFT OUTER JOIN roomset ON stayregister.room=roomset.roomID
        LEFT OUTER JOIN team ON stayregister.team=team.tuanduiID
        LEFT OUTER JOIN passenger ON stayregister.passenger=passenger.id
        <where>
            <choose>
                <when test="targetType == 72">
                    team IS NULL
                </when>
                <otherwise>
                    team IS NOT NULL
                </otherwise>
            </choose>
        </where>
    </select>

<!--    //from 陈志雄  标记-->
    <select id="analysisAllInfo" resultMap="allStayRegisyerObject">
        SELECT * FROM stayregister LEFT OUTER JOIN roomset ON stayregister.room=roomset.roomID
        LEFT OUTER JOIN team ON stayregister.team=team.tuanduiID
        LEFT OUTER JOIN passenger ON stayregister.passenger=passenger.id
    </select>

    <select id="getStayRegisyerObjectById" parameterType="int" resultMap="allStayRegisyerObject">
        SELECT * FROM stayregister LEFT OUTER JOIN roomset ON stayregister.room=roomset.roomID
        LEFT OUTER JOIN team ON stayregister.team=team.tuanduiID
        LEFT OUTER JOIN passenger ON stayregister.passenger=passenger.id
        WHERE stayregisterdetailId=#{id}
    </select>

    <resultMap id="allStayRegisyerObject" type="stayRegisterBean">
        <id column="stayregisterdetailId" property="stayregisterdetailId"/>
        <result property="stayNumber" column="stayNumber"/>
        <result property="deposit" column="deposit"/>
        <result property="changingRoomNumber" column="changingRoomNumber"/>
        <result property="changingRoomMoney" column="changingRoomMoney"/>
        <result property="changingRoomTime" column="changingRoomTime"/>
        <result property="stayRegisterTime" column="stayRegisterTime"/>
        <result property="isBillId" column="isBillId"/>
        <result property="sumConst" column="sumConst"/>
        <result property="payTime" column="payTime"/>
        <association property="passengerType"
                     javaType="ItemBean"
                     select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                     column="passengerTypeId">
            <id column="itemDetailsID" property="itemDetailsID"/>
            <result property="itemID" column="itemID"/>
            <result property="category" column="category"/>
        </association>
        <association property="rentOutType"
                     javaType="ItemBean"
                     select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                     column="rentOutTypeId">
            <id column="itemDetailsID" property="itemDetailsID"/>
            <result property="itemID" column="itemID"/>
            <result property="category" column="category"/>
        </association>
        <association property="billUnit"
                     javaType="ItemBean"
                     select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                     column="billUnitId">
            <id column="itemDetailsID" property="itemDetailsID"/>
            <result property="itemID" column="itemID"/>
            <result property="category" column="category"/>
        </association>
        <association property="depositPayWay"
                     javaType="ItemBean"
                     select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                     column="depositPayWayId">
            <id column="itemDetailsID" property="itemDetailsID"/>
            <result property="itemID" column="itemID"/>
            <result property="category" column="category"/>
        </association>

        <association property="room" javaType="roomStayRegisterVO">
            <id column="roomID" property="roomID"/>
            <result property="roomNumber" column="roomNumber"/>
            <result property="roomAmount" column="roomAmount"/>
            <result property="standarPriceDay" column="standarPriceDay"/>
            <result property="standarPrice" column="standarPrice"/>
            <result property="maxDuration" column="maxDuration"/>
            <result property="firstPrice" column="firstPrice"/>
            <result property="firstDuration" column="firstDuration"/>
            <association property="roomState"
                         javaType="ItemBean"
                         select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                         column="roomStateID">
                <id column="itemDetailsID" property="itemDetailsID"/>
                <result property="itemID" column="itemID"/>
                <result property="category" column="category"/>
            </association>
            <association property="guestRoomLevel"
                         javaType="ItemBean"
                         select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                         column="guestRoomLevelID">
                <id column="itemDetailsID" property="itemDetailsID"/>
                <result property="itemID" column="itemID"/>
                <result property="category" column="category"/>
            </association>
        </association>

        <association property="team" javaType="TeamStayRegisterVO">
            <id column="tuanduiID" property="tuanduiID"/>
            <result property="principal" column="principal"/>
            <result property="teamName" column="teamName"/>
            <result property="teamCode" column="teamCode"/>
            <result property="registerTime" column="registerTime"/>
            <result property="contactPhoneNUmber" column="contactPhoneNUmber"/>
            <association property="targetType"
                         javaType="ItemBean"
                         select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                         column="targetTypeID">
                <id column="itemDetailsID" property="itemDetailsID"/>
                <result property="itemID" column="itemID"/>
                <result property="category" column="category"/>
            </association>
        </association>

        <association property="passenger" javaType="passengerStayRegisterVO">
            <id column="id" property="id"/>
            <result property="name" column="name"/>
            <result property="birthDate" column="birthDate"/>
            <result property="licenceIssuingAuthorty" column="licenceIssuingAuthorty"/>
            <result property="papersValidity" column="papersValidity"/>
            <result property="profession" column="profession"/>
            <result property="papersNumber" column="papersNumber"/>
            <result property="unitsOrAddress" column="unitsOrAddress"/>
            <result property="whereAreFrom" column="whereAreFrom"/>
            <result property="whereToGo" column="whereToGo"/>
            <result property="contacPhoneNumber" column="whercontacPhoneNumber"/>
            <result property="remarks" column="remarks"/>
            <association property="gender"
                         javaType="ItemBean"
                         select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                         column="genderID">
                <id column="itemDetailsID" property="itemDetailsID"/>
            </association>
            <association property="nation"
                         javaType="ItemBean"
                         select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                         column="nationID">
                <id column="itemDetailsID" property="itemDetailsID"/>
            </association>
            <association property="educationDegree"
                         javaType="ItemBean"
                         select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                         column="educationDegreeID">
                <id column="itemDetailsID" property="itemDetailsID"/>
            </association>
            <association property="passengerLevel"
                         javaType="ItemBean"
                         select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                         column="passengerLevelID">
                <id column="itemDetailsID" property="itemDetailsID"/>
            </association>
            <association property="papers"
                         javaType="ItemBean"
                         select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                         column="papersID">
                <id column="itemDetailsID" property="itemDetailsID"/>
            </association>
            <association property="thingReasonID"
                         javaType="ItemBean"
                         select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                         column="thingReasonID">
                <id column="itemDetailsID" property="itemDetailsID"/>
            </association>
        </association>
    </resultMap>


    <select id="getAllPassengerObject" parameterType="hashmap" resultMap="allPassengerObject">
        select * from passenger
        <where>
            <if test="txtname != null and txtname != ''">
                name LIKE '%${txtname}%'
            </if>
        </where>
    </select>

    <select id="getIsBillStayRegisyerObject" parameterType="hashmap" resultMap="allStayRegisyerObject">
        SELECT * FROM stayregister LEFT OUTER JOIN roomset ON stayregister.room=roomset.roomID
        LEFT OUTER JOIN team ON stayregister.team=team.tuanduiID
        LEFT OUTER JOIN passenger ON stayregister.passenger=passenger.id
        <where>
            <choose>
                <when test="targetType == 72">
                    team IS NULL
                </when>
                <otherwise>
                    team IS NOT NULL
                </otherwise>
            </choose>
            AND stayregister.isBillId=#{isBillID}
        </where>
    </select>

    <resultMap id="allPassengerObject" type="passengerStayRegisterVO">
        <id column="id" property="id"/>
        <association property="gender"
                     javaType="ItemBean"
                     select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                     column="genderID">
            <id column="itemDetailsID" property="itemDetailsID"/>
        </association>
         <association property="nation"
                      javaType="ItemBean"
                      select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                      column="nationID">
             <id column="itemDetailsID" property="itemDetailsID"/>
         </association>
        <association property="educationDegree"
                     javaType="ItemBean"
                     select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                     column="educationDegreeID">
            <id column="itemDetailsID" property="itemDetailsID"/>
        </association>
        <association property="passengerLevel"
                     javaType="ItemBean"
                     select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                     column="passengerLevelID">
            <id column="itemDetailsID" property="itemDetailsID"/>
        </association>
        <association property="papers"
                     javaType="ItemBean"
                     select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                     column="papersID">
            <id column="itemDetailsID" property="itemDetailsID"/>
        </association>
        <association property="thingReasonID"
                     javaType="ItemBean"
                     select="com.hotelms.dao.SatyregisterMapper.queryitemBeanByTargetTypeID"
                     column="thingReasonID">
            <id column="itemDetailsID" property="itemDetailsID"/>
        </association>
    </resultMap>


   <insert id="insertRegisterByPredetermine" parameterType="hashmap">
    INSERT INTO stayregister VALUES (NULL ,#{predetermine.roomID},#{predetermine.passengerID},#{predetermine.tuanduiID},76 ,74
    ,#{predetermine.predetermineDay} ,#{predetermine.deposit},
    <if test="predetermine.type == 1">79</if>
    <if test="predetermine.type == 2">78</if>
     ,#{predetermine.payWayID},0 ,0 ,NULL ,#{predetermine.arriveTime} ,0,#{money},NULL )
  </insert>

    <select id="getPassengerById" parameterType="int" resultMap="allPassengerObject">
        SELECT * FROM passenger WHERE id=#{id}
    </select>

    <insert id="savePassenger" parameterType="passengerStayRegisterVO">
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
        INSERT INTO passenger(id,name,genderID,birthDate,nationID,licenceIssuingAuthorty,papersValidity,profession,
        educationDegreeID,passengerLevelID,papersID,papersNumber,unitsOrAddress,thingReasonID,whereAreFrom,whereToGo,
        contacPhoneNumber,remarks) VALUES (null,#{gender.itemDetailsID},#{birthDate},#{nation.itemDetailsID},#{licenceIssuingAuthorty},
        #{papersValidity},#{profession},#{educationDegree.itemDetailsID},#{papers.itemDetailsID},#{papersNumber},
        #{unitsOrAddress},#{thingReasonID.itemDetailsID},#{whereAreFrom},#{whereToGo},#{contacPhoneNumber},#{remarks})
    </insert>

    <update id="savePassengerRegister" parameterType="hashmap">
        UPDATE stayregister SET passenger=#{id} WHERE stayregisterdetailId=#{stayRegisterID}
    </update>

    <select id="getRoomObjectByRoomId" parameterType="java.util.List" resultMap="allRoomObject">
        SELECT * FROM roomset WHERE roomID IN
        <foreach collection="array" index="index" item="item"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="changeStayRegisterRoom" parameterType="hashmap">
        UPDATE stayregister SET room=#{room},changingRoomMoney=#{changingRoomMoney},changingRoomTime=#{changingRoomTime},
        changingRoomNumber=changingRoomNumber+1,sumConst=sumConst+#{changingRoomMoney} WHERE stayregisterdetailId=#{stayregisterdetailId}
    </update>


    <update id="updateSatyRegisterWhenPay" parameterType="hashmap">
        UPDATE stayregister SET  isBillId = 1,payTime = #{payTime}
        <where>
            stayregisterdetailId=#{id}
        </where>
    </update>

    <select id="selectStayRegistersByTeamIdAndBillIdAndRoomId" parameterType="hashmap" resultMap="allStayRegisyerObject">
        SELECT * FROM stayregister LEFT OUTER JOIN roomset ON stayregister.room=roomset.roomID
        LEFT OUTER JOIN team ON stayregister.team=team.tuanduiID
        LEFT OUTER JOIN passenger ON stayregister.passenger=passenger.id
        <where>
            <if test="isBillID == null or isBillID.length() == 0">
                isBillId = 0
            </if>
            <if test="isBillID != null and isBillID.length() != 0">
                isBillId = #{isBillID}
            </if>
            <if test="tuanduiID != null and tuanduiID.length() != 0">
               AND team = #{tuanduiID}
            </if>
            <if test="txtname != null">
               AND roomNumber LIKE #{txtname}
            </if>
        </where>
    </select>

    <select id="selectNotBilledStayRegistersByTeamId" parameterType="int" resultMap="allStayRegisyerObject">
        SELECT * FROM stayregister LEFT OUTER JOIN roomset ON stayregister.room=roomset.roomID
        LEFT OUTER JOIN team ON stayregister.team=team.tuanduiID
        LEFT OUTER JOIN passenger ON stayregister.passenger=passenger.id
        <where>
            isBillId = 0 AND team = #{tuanDuiID}
        </where>
    </select>

    <select id="selectUnBilledRegistersByDateAndId" parameterType="hashmap" resultMap="allStayRegisyerObject">
        SELECT * FROM stayregister LEFT OUTER JOIN roomset ON stayregister.room=roomset.roomID
        LEFT OUTER JOIN team ON stayregister.team=team.tuanduiID
        LEFT OUTER JOIN passenger ON stayregister.passenger=passenger.id
        <where>
            isBillId = 0 AND team = #{teamID}
            <if test="datemin != null and datemin.length() != 0">
                AND stayRegisterTime >= #{datemin}
            </if>
            <if test="datemax != null and datemax.length() != 0">
                AND stayRegisterTime &lt;= #{datemax}
            </if>
        </where>
    </select>


    <update id="addDeposit" parameterType="hashmap">
        UPDATE stayregister SET deposit=deposit+#{deposit},depositPayWayId=#{depositPayWayId} WHERE stayregisterdetailId=#{stayregisterdetailId}
    </update>

    <update id="updateStayRegisterTeam" parameterType="hashmap">
        UPDATE stayregister SET team=#{team} WHERE stayregisterdetailId=#{stayregisterdetailId}
    </update>
</mapper>